.about{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    .left{
        height: 100%;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        .card{
            width: 60%;
            height: 70vh;
            border-radius: 30px;
            overflow: hidden;
            position: relative;
            .title{
                position: absolute;
                top: 0;
                left:50%;
                z-index: 100;
                background-color: white;
                color: darkslategray;
                transform: translateX(-50%);
                padding: 5px 20px;
                font-weight: 800;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
            }
            .skill{
                width: 100%;
                height: 100%;
                padding: 30px;
                display: flex;
                justify-content:space-between;
                align-items: center;
                flex-wrap: wrap;
                position: relative;
                gap: 10px;
                background-color: darkslategray;
                span{
                    padding: 5px 10px;
                    background-color: white;
                    border-radius: 5px;
                    font-weight: 600;
                    color: darkslategray;
                }
            }
        }
        .bg{
            position: absolute;
            top: 50px;
            left: 50px;
            background-color: rgba(32, 53, 53, 0.445);
        }
    }
    .right{
        flex: 1;
        margin-right: 50px;
        text-align: justify;
        .title{
            color: darkslategray;
        }
    }
}

@media screen and (max-width:480px){
    .about{
        flex-direction: column;
        text-align: center;
        margin-top: 50px;
        .left{
            .card{
                width: 90%;
                height:50vh;
            }
            .bg{
                display: none;
            }
        }
        .right{
            padding: 20px;
            margin-right: 0;
            .title{
                text-align: center;
                margin-bottom: 50px;
            }
        }
    }
}