.contact{
    height: 100vh;
    width: 100%;
    position: relative;
    .bg{
        width: 20px;
        height: 100%;
        background-color: darkslategray;
        position: absolute;
    }
    .wrapper{
        padding: 100px 50px;
        display: flex;
        .left{
            flex: 1;
            .title{
                font-size: 60px;
                width: 80%;
                color: darkslategray;
            }
            .info-item{
                display: flex;
                align-items: center;
                margin: 50px 0px;
                font-weight: 300;
                width: 70%;
                .icon{
                    width: 30px;
                    height: 30px;
                }
            }
        }
        .right{
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .desc{
                font-weight: 200;
                b{
                    color: darkslategray;
                }
            }
            .form{
                margin-top: 20px;
                background-color: darkslategray;
                border-radius:10px;
                padding:10px;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                span{
                    position: absolute;
                    top: 0;
                    left:50%;
                    transform: translateX(-50%);
                    background-color: white;
                    color: darkslategray;
                    padding: 10px 50px;
                    font-weight: 800;
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;
                }
                form{
                    margin: 50px 0;
                    display: flex;
                    flex-direction: column;
                    width: 80%;
                    .row{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        gap: 10px;
                        margin-bottom: 20px;
                        .form-control{
                            flex: 1;
                            font-size: 14px;
                            label{
                                color: white;
                                font-size: large;
                                font-weight: 800;
                                display: block;
                                margin-bottom: 10px;
                                text-transform: uppercase;
                            }
                            input{
                                height: 50px;
                                display: block;
                                padding-left: 10px;
                                border-radius: 5px;
                                border: none;
                                outline: none;
                                width: 100%;
                                &:focus{
                                    outline: none;
                                }
                            }  
                            textarea{
                                width: 100%;
                                padding: 10px;
                                border-radius: 5px;
                                &:focus{
                                    outline: none;
                                }
                            } 
                        }
                        
                    }
                    button{
                        border: none;
                        padding: 15px;
                        width:fit-content;
                        border-radius: 5px;
                        background-color: white;
                        color: darkslategray;
                        font-weight: 500;
                        cursor: pointer;
                    }  
                }
            }
        }
    }
}