.navbar {
    padding: 0 50px;
    color: darkslategray;
    font-weight: 600;
    font-size: 18px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 10;

    a {
        text-decoration: none;
        color: inherit;
    }

    &.active {
        background-color: darkslategray;

        .logo {
            color: white;
        }

        .navList li:nth-child(1) {
            color: white;
        }
    }

    .logo {
        flex: 3;
        transition: 1s ease all;

        .stamp {
            position: absolute;
            transition: 1s ease all;
            top: 0;
            width: 110px;
            height: 110px;
            background-color: darkslategray;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .dp {
                flex: 8;
                width: 80%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 20%;

                .pic {
                    height: 80%;
                    border-radius: 50%;
                    border: 2px solid white;
                    overflow: hidden;
                    background-color: white;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: contain;
                        transition: 1s ease all;
                    }
                }
            }

            .name {
                flex: 2;
                position: absolute;
                bottom: 0;
                width: 90%;
                margin: auto;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                z-index: 5;
                text-align: center;
                background-color: rgb(255, 255, 255);
                color: darkslategray;
            }
        }
    }

    .nav {
        flex: 3;

        .navList {
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style: none;

            li {
                cursor: pointer;
            }

            li:nth-child(2) {
                color: white;
            }

            li:nth-child(3) {
                color: white;
            }

            li:nth-child(4) {
                color: white;
            }
        }
    }
}

@media screen and (max-width:480px) {
    .navbar {
        display: none;
    }
}